.footer {
  background-color: #151515;  /* Same background color as header */
  color: white;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.9em;  /* Small font size for the copyright text */
}

.footer p {
  margin: 0; /* Remove default margin */
}
